@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

body {
    font-family: 'lora', serif;
}

@media screen and (max-width: 768){
    html { font-size: calc( 10px + (12 - 10) * (100vw - 768) / (768 - 100) ); }
    }
@media screen and (min-width: 768){
html { font-size: calc( 10px + (14 - 10) * (100vw - 768) / (1000 - 768) ); }
}
@media screen and (min-width: 1000px){

html { font-size: calc( 10px + (12 - 10) * (100vw - 1000) / (1500 - 1000) ); }
}
.position-parent {
    position: relative;
    width:100%;
    height: 100vh;
}
.bottom-position-center {
    position: absolute;
    left: 50%;
    bottom: 10px;
    width:100%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.middle-position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
/* h1 {
    font-size: 2.4em;
}
@media screen and (max-width:768px) {
    h1 {
        font-size: 1.5em;
    }
}
h2 {
    font-size: 2.1em;
}
@media screen and (max-width:768px) {
    h2 {
        font-size: 1.35em;
    }
}
h3 {
    font-size: 1.8em;
}
@media screen and (max-width:768px) {
    h3 {
        font-size: 1.2em;
    }
}
h4 {
    font-size: 1.5em;
}
@media screen and (max-width:768px) {
    h4 {
        font-size: 0.9em;
    }
} */
.card-title {
    font-size: 1.17em;
}
.card-text {
    font-size: 1.17em;
}   
.button {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 1rem;
    border: solid 1px #DAA520;
    background: rgb(255,255,255);
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: .15rem;
    position: relative;
    font-weight: 300;
    overflow: hidden;
    cursor: pointer;
}

.button-active {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 1rem;
    border: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: .15rem;
    position: relative;
    overflow: hidden;
    background-color: #DAA520;
    cursor: pointer;
    
}
.button-content {
    position: relative;
    z-index: 1;
}
.button-content:hover {
    color: white;
}
.button2 {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 1rem;
    border-color: #DAA520;
    background: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: .15rem;
    position: relative;
    font-weight: 300;
    overflow: hidden;
    cursor: pointer;
    color:#DAA520;
}
.button2:hover {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 1rem;
    background: rgb(255,255,255);
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: .15rem;
    position: relative;
    font-weight: 300;
    overflow: hidden;
    cursor: pointer;
    color: floralwhite;
    background-color: #DAA520;

}
.content-center {
    height:100%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:80%;
    margin: auto;
}
.golden {
    color: #DAA520;
}
.italic {
    font-style: italic;
}
.header-spacing {
    padding-top: 7% ;
}
.top-spacing {
    padding-top: 5%;
}
.bottom-spacing {
    padding-bottom: 5%;
}
img, .card-img {
    object-fit: cover;
}
.row{
    margin: 0;
}
.center-alignment {
    width: 100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.center-aligment-row {
    width: 100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}
/* header component */
header .bm-menu {
    background: floralwhite;
}
.navbar-dark {
    background-color: rgba(0,0,0,0.4);
    height: auto;
    position: fixed;
    z-index: 20;
}

.navlinkStyle {
    width: 75%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-link {
    margin-top: 30px;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 80px;
    top: 26px;
    
  }

@media screen and (max-width:768px) {
    .bm-burger-button {
        position: fixed;
        width: 36px;
        height: 30px;
        left: 10%;
        top: 26px;
        
    }
}
   
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: white;
  }
   
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #DAA520;
  }
   
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #DAA520;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: floralwhite;
    font-size: 1.8em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  
/* end */

/* home component */
.home_cover {
    background-image: url("/assets/images/restaurant_cover.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width:100%;
    height:100vh;
    position: relative;
}

.home_overlay {
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width:100%;
    z-index:5;
    position: absolute;
    top:0;
    left:0;
}
@media screen and (max-width:576px) {
    .home_cover {
        height: 125vh;
    }
    .home_overlay {
        height: 125vh;
    }
}

/* section - intro-view */
.view {
    background-image: url("/assets/images/blur-image2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    width: 100%;
}
.view-alignment {
    position: relative;
    height: 80vh;
}

.intro-view1 {
    position: absolute;
    padding: 0 5%;
    top:10%;
    
}
.intro-view2 {
    position: absolute;
    top:30%;
    padding: 0 10%;
    z-index: 10;
}

.intro-view3 {
    position: absolute;
    top:45%;
    padding: 0 25%;
    z-index: 5;
}
.view img {
    width:500px;
    height:300px;
}

@media screen and (max-width:768px) {
    .view img {
        width:300px;
        height:200px;
    }
    .view {
        padding: 0 10%;
    }
    .into-text {
        background-color: rgba(0, 0, 0, 0.6);
    }
    
}
@media screen and (max-width:430px) {
    .view img {
        width:200px;
        height:100x;
    }
}
/* end */
/* section - know-more */
.know-more {
    height: 100%;
    color: floralwhite;
    background-image: url("/assets/images/background-pattern.jpg");
}
/* end */
/* trendslist */
.trendslist {
    background-image: url("/assets/images/trendslist.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
/* end */
/* cuisine-gallery */
.cuisine-gallery {
    background-image: url("/assets/images/Home-Cover2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.cuisine-gallery .card {
    height: auto;
    margin: 0;
    border: 0;
}
.transparent-black-overlay {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
}
.masonry {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    -moz-column-gap: 0;
    -webkit-column-gap: 0;
    column-gap: 0;
    transition: all .5s ease-in-out;
    column-fill: initial;
    margin: 0;
    padding: 0;
    border: 0;
}
@media screen and (max-width: 1200px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
@media screen and (max-width: 768px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media screen and (max-width: 576px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}
.gallery {
    display: inline-block;
    margin-bottom: 0;
    width: 100%;
}
/* end */
/* populardishes-carousel */
.popular-dishes-carousel {
    background-image: url("/assets/images/trendslist.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    width:100%;
}

/* end */
/* Reservation Form */
    .book-or-order {
        background-image: url("/assets/images/bookatable.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        overflow: hidden;
        width:100%;
    }
/* end */
/* Menu */
.menu_cover_1 {
    height:100vh;
    background-image: url("/assets/images/breakfast2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width:100%;
}
.menu_cover_2 {
    height:100vh;
    background-image: url("/assets/images/vegan-liftz-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width:100%;
}
.menu_cover_3 {
    height:100vh;
    background-image: url("/assets/images/Lunch-hermes-rivera-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width:100%;
}

.test54 {
    height: 320px;
}
.clicking-button {
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.6);
}
/* end */

/* Popular Dishes */
.popular_dishes_cover {
    height:100vh;
    background-image: url("/assets/images/Home-Cover2jpg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
}


.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width:100%;
    z-index:5;
    position: relative;
    top:0;
    left:0;
}
.overlay-white {
    background-color: rgba(255, 255, 255, 0.7);
    height: 100%;
    width:100%;
    z-index:5;
    position: relative;
    top:0;
    left:0;
}
.overlay-viewport {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width:100%;
    z-index:5;
    position: absolute;
    top:0;
    left:0;
}
.overlay-content-center {
    position: relative;;
    top:45%;
    transform:translate(0, -50%);
    z-index: 10;
}
/* end */
/* About */
.chefs {
    position: absolute;
    top:35.7vh;
    z-index: 15;
    left:50%;
    transform:translate(-50%, 0);
}
.chefs .card {
    height: 420px;
}
@media screen and (max-width: 768px){
    .chefs .card {
        height: 360px;
    }
}
.chefs .card-img-top {
    height: 28.5vh;
    object-fit: cover;
}
@media screen and (max-width: 768px){
    .chefs .card-img-top {
        height: 30.8vh;
    }
}
.contact {
    height:100%;
    background-image: url("/assets/images/bookatable2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width:100%;
}
/* end */
.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    position: relative;
    margin: -50%;
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color:#DAA520;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}



.page-enter {
    opacity: 0.01;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
}

.page-exit {
    opacity: 1;
    transform: translateX(0%);
}

.page-exit-active {
    opacity: 0.01;
    transform: translateX(100%);
    transition: all 300ms ease-out;
}

.step-enter {
    opacity: 0;
    transform: translate(-500px, 0);
    transform: translate3d(-500px, 0, 0);
   }
   .step-enter.step-enter-active {
    opacity: 1;
    transition: opacity 2s ease;
    transform: translate(0,0);
    transform: translate3d(0,0,0);
    transition-property: transform, opacity;
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
   }
   .step-exit {
    opacity: 1;
    transform: translate(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition-property: transform, opacity;
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
   }
   .step-exit.step-exit-active {
    opacity: 0;
    transform: translate(500px, 0);
    transform: translate3d(500px, 0, 0);
   }

.slide-enter {
    opacity: 0.01;
    transform: translateX(100%);
}

.slide-enter-active {
    opacity: 1;
    transition: all 3000ms ease-in;
    transform: translateX(-50%);
}
