body {
    font-Family: "Vollkorn";
}
* {
    box-sizing: border-box;
}
.view-heading {
    font-size: 2.4rem;
}
@media screen and (min-width:768px) {
    .view-heading {
        font-size: 3rem;
    }
}
.button {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 1rem;
    border: none;
    background: rgb(255,255,255);
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    position: relative;
    overflow: hidden;
}
.button-content {
    position: relative;
    z-index: 1;
}
.button-content:hover {
    color: white;
}
.golden {
    color: #DAA520;
}
.italic {
    font-style: italic;
}
.header-spacing {
    position: absolute;
    top: 130px;
}
.top-spacing {
    padding-top: 5%;
}
.bottom-spacing {
    padding-bottom: 4%;
}
img {
    object-fit: cover;
}
.center-alignment {
    width: 100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
/* header component */
header .bm-menu {
    background: floralwhite;
}
.navbar-dark {
    background-color: rgba(0,0,0,0.4);
    height: 100px;
}
.navbar-toggler {
    width: 12vmin;
    height: 10vmin;
}
.navbar-toggler-icon {
    width: 8vmin;
    height: 8vmin;
    margin: auto;
    color: black;
}
.navlinkStyle {
    width: 75%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-link {
    margin-top: 30px;
}


  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: floralwhite;
    font-size: 1.8em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  
/* end */

/* home component */
.home_cover {
    height:100vh;
    background-image: url(http://localhost:3001/assets/images/restaurant_cover.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.home_overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width:100%;
    z-index:5;
    position: absolute;
    top:0;
    left:0;
}
.overlay-alignment {
    position: relative;
    top: 20%;
    width: 100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    color: floralwhite;
    z-index: 10;
}
.disableBlur {
    filter: blur(0);
    -webkit-filter: blur(0);
}
/* section - intro-view */
.view {
    background-image: url(http://localhost:3001/assets/images/blur-image2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
.view-alignment {
    position: relative;
    height: 80vh;
}

.intro-view1 {
    position: absolute;
    padding: 0 5%;
    top:10%;
    
}
.intro-view2 {
    position: absolute;
    top:30%;
    padding: 0 10%;
    z-index: 10;
}

.intro-view3 {
    position: absolute;
    top:45%;
    padding: 0 25%;
    z-index: 5;
}
.view img {
    width:500px;
    height:300px;
}

@media screen and (max-width:768px) {
    .view img {
        width:300px;
        height:200px;
    }
    .view {
        padding: 0 10%;
    }
    .into-text {
        background-color: rgba(0, 0, 0, 0.6);
    }
    
}
@media screen and (max-width:430px) {
    .view img {
        width:200px;
        height:100x;
    }
}
/* end */
/* section - know-more */
.know-more {
    height: 100%;
    color: floralwhite;
    background-image: url(http://localhost:3001/assets/images/background-pattern.jpg);
}
/* end */
/* trendslist */
.trendslist {
    background-image: url(http://localhost:3001/assets/images/trendslist.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
/* end */
/* cuisine-gallery */
.cuisine-gallery {
    background-image: url(http://localhost:3001/assets/images/trendslist.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
/* end */
.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}



.page-enter {
    opacity: 0.01;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
}

.page-exit {
    opacity: 1;
    transform: translateX(0%);
}

.page-exit-active {
    opacity: 0.01;
    transform: translateX(100%);
    transition: all 300ms ease-out;
}

.step-enter {
    opacity: 0;
    transform: translate(-500px, 0);
    transform: translate3d(-500px, 0, 0);
   }
   .step-enter.step-enter-active {
    opacity: 1;
    transition: opacity 2s ease;
    transform: translate(0,0);
    transform: translate3d(0,0,0);
    transition-property: transform, opacity;
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
   }
   .step-exit {
    opacity: 1;
    transform: translate(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition-property: transform, opacity;
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
   }
   .step-exit.step-exit-active {
    opacity: 0;
    transform: translate(500px, 0);
    transform: translate3d(500px, 0, 0);
   }

.slide-enter {
    opacity: 0.01;
    transform: translateX(100%);
}

.slide-enter-active {
    opacity: 1;
    transition: all 3000ms ease-in;
    transform: translateX(-50%);
}

.page-exit {
    opacity: 1;
    transform: translateX(0%);
}

.page-exit-active {
    opacity: 0.01;
    transform: translateX(100%);
    transition: all 300ms ease-out;
}